/* ==== Body & Background ==== */
body {
  background: linear-gradient(-45deg, #1a1a1a, #41456c, #4a4e69, #02635a);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  font-family: 'Times New Roman', serif;
  color: white;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.contact-section {
  text-align: center;
  margin-top: 50px;
}

.contact-section h2,h3 {
  font-size: 36px;
  color: #32cd32;
  text-shadow: 0 0 15px #32cd32, 0 0 20px #32cd32;
  margin-bottom: 20px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
  text-align: center;
}

.contact-link {
  color: white;
  font-size: 22px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 10px;
}

.contact-link i {
  font-size: 35px;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.contact-link:hover {
  color: #e34caf;
  transform: scale(1.1);
}

.contact-link:hover i {
  transform: translateY(-5px);
}

.contact-message {
  margin-top: 40px;
  text-align: center;
}

.contact-message h3 {
  font-size: 28px;
  color: #32cd32;;
  margin-bottom: 20px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 0 0 10px #32cd32;
  margin-bottom: 30px;
}

.contact-form label {
  text-align: left;
  font-weight: bold;
  color: #32cd32;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
}

.contact-form button {
  padding: 12px;
  background-color: #32cd32;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #28a428;
}

@media screen and (max-width: 768px) {
  .contact-icons {
    flex-direction: column;
    gap: 20px;
  }

  .contact-link {
    font-size: 20px;
  }
}
